@use '@/shared/lib/styles/mixin.scss' as *;

.find_broker_tools {
   padding-block: 80px;

    &__inner {
        padding: 44px;
        background: #EC9117;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        align-items: start;

        @include tablet {
            padding: 20px;
            grid-template-columns: 1fr;
        }
    }

    &__title {
        color: #000;
        font-size: 60px;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: -2px;
        margin-bottom: 13px;

        @include mobile {
            font-size: 32px;
            letter-spacing: -0.64px;
        }
    }

    &__description {
        color: #000;
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 28px;
    }

    &__link {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        min-width: 225px;
        gap: 10px;
        padding: 13px 19px;
        border-radius: 999px;
        background: #030303;
        color: #EC9117;
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
        &:hover{
            background-color: #fff;
            color: #030303;
            border-color: #fff;
            img, svg{
                filter: brightness(1) invert(1);
            }
        }
    }

    &__right {
        padding: 16px;
        border-radius: 12px;
        background: #030303;
        box-shadow: 0 209px 59px 0 rgba(0, 0, 0, 0.00), 0 134px 54px 0 rgba(0, 0, 0, 0.01), 0 75px 45px 0 rgba(0, 0, 0, 0.05), 0 33px 33px 0 rgba(0, 0, 0, 0.09), 0 8px 18px 0 rgba(0, 0, 0, 0.10);
        height: auto;
        overflow: auto;

        @include mobile {
            height: 309px;
        }
    }
}